<div ng-if="cart != undefined && cart.items.length > 0">
    <md-button ng-click="openCart($event)" class="md-button md-primary md-fab cp-cart">
        <div class="cp-cart-head">
            <md-icon class="material-icons">shopping_cart</md-icon>
            <span class="md-button md-accent md-raised cp-total">{{cart.items.length}}</span>
        </div>
    </md-button>
</div>
<div ng-if="cart == undefined  || cart.items == undefined">
    <div class="md-button md-primary md-fab cp-cart">
        <div class="cp-cart-head">
            <md-icon class="material-icons">shopping_cart</md-icon>
        </div>
    </div>
</div>
<div class="cp-preloader" ng-if="preloaderShow">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>


