<div class="cp-notify">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <p>{{$message}}</p>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$close()" ng-attr-title="Закрыть">
                <md-icon class="material-icons" aria-label="Закрыть" md-style="{'font-size': '14px'}">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>
