<md-dialog>
  <div class="cart-inner">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Корзина</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cartClose()" ng-attr-title="Закрыть">
          <md-icon class="material-icons" aria-label="Закрыть">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div ng-if="cart != undefined && cart.items.length > 0">
          <ul class="cart-list">
            <li class="cart-item-tr" ng-repeat="item in cart.items">
              <div class="cart-item-td">{{item.name}}</div>
              <div class="cart-item-td">{{item.price}} X
                <md-button class="md-primary md-icon-button" ng-click="itemDecrement(item)" ng-attr-title="Уменьшить">
                  <md-icon class="material-icons">remove_circle_outline</md-icon>
                </md-button>
                {{item.quantity}}
                <md-button class="md-primary md-icon-button" ng-click="itemIncrement(item)" ng-attк-title="Увеличеть">
                  <md-icon class="material-icons">add_circle_outline</md-icon>
                </md-button>
              </div>
              <div class="cart-item-td">
                {{item.total_price}} руб.
                <md-button class="md-primary md-icon-button" ng-click="itemDelete(item)" ng-attr-title="Удалить">
                  <md-icon class="material-icons" aria-label="Удалить">clear</md-icon>
                </md-button>
              </div>
            </li>
          </ul>
          <div class="text-right">Итого: <b>{{cart.total_price}}</b> руб.</div>
          <md-dialog-actions class="row">
            <md-button class="md-accent md-raised md-icon-button hidden-sm" ng-click="cartFlush(cart.cart_id)" ng-attr-title="Очистить корзину">
              <md-icon class="material-icons" aria-label="Удалить">remove_shopping_cart</md-icon>
            </md-button>
            <span class="flex"></span>
            <md-button class="md-primary hidden-sm" ng-click="cartClose()">Продолжить покупки</md-button>
            <md-button class="md-primary md-raised" ng-click="cartOrder(cart.cart_id)">Оформить заказ</md-button>
          </md-dialog-actions>
          <div class="cp-preloader" ng-if="preloaderShow">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
        </div>
        <div ng-if="cart == undefined || cart.items == undefined">
          <h3>Корзина пуста</h3>
        </div>
      </div>
    </md-dialog-content>
  </div>
</md-dialog>