html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

#buy-form input[type=text] {
    width: 100%;
}

.field-buyform-email {
    margin-bottom: 5px;
}

.field-buyform-email p {
    margin: 0;
}

.field-buyform-email.has-error {
    margin-bottom: 0;
}

.field-buyform-email.has-error p {
    margin: 5px 0;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.secure-imgs {
    display: flex;
}

.secure-imgs > div {
    padding: 0 15px;
    text-align: center;
    flex-basis: -moz-available;
}

.secure-imgs img {
    max-width: 120px;
    height: auto;
}

.header {
    padding: 10px 0;
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.5);
    height: 40px;
}

.header img {
    width: auto;
    height: 20px;
}

.form-control {
    border-radius: 0px;
}

#buyform-payment_type {
    display: block;
}

#buyform-payment_type > div {
    width: 80px;
    padding: 0 10px;
    height: 60px;
    display: inline-block;
}

#buyform-payment_type > div input {
    display: none;
}

#buyform-payment_type > div label {
    background-size: 50px 50px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#buyform-payment_type label.active {
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fafafa;
}

.payment-type-1 label {
    background: url(../img/icon/rfi.png) no-repeat center center;
}

.payment-type-12 label {
    background: url(../img/icon/yandex-money.png) no-repeat center center;
}

.payment-type-13 label {
    background: url(../img/icon/qiwi.png) no-repeat center center;
}

.payment-type-14 label {
    background: url(../img/icon/webmoney.png) no-repeat center center;
}

.payment-type-15 label {
    background: url(../img/icon/visa-mastercard.png) no-repeat center center;
}

.payment-type-17 label {
    background: url(../img/icon/sber.png) no-repeat center center;
}

.item-product-row {
    padding: 10px;
    margin: 0 10px;
    border-bottom: 1px solid #eee;
}

.order-form {
    border-right: 1px solid #eee;
    display: table-cell;
    width: 50%;
    padding: 0 15px;
}

.product-list {
    display: table-cell;
    width: 50%;
    background: #fafafa;
    padding: 0 15px;
}

.disclaimer {
    padding-top: 100px;
}

.text-total {
    margin-top: 50px;
}

.table-row {
    display: table-row;
}

.right {
    float: right;
}

.iframe-wrap {
    display: none;
}

.iframe-wrap iframe {
    width: 100%;
    height: 800px;
    border: none;
}

.preloader {
    position: absolute;;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/ajax.gif) no-repeat center center;
}