@import "../font/material_icons/material-icons.css";
.cp-cart {
    position: fixed;
    top: 10%;
    right: 3%;
    min-height: 3px;
    color: rgba(0,0,0,.6);
}

.cp-cart a, .cart-inner a {
    color: rgba(0,0,0,.6);
    cursor: pointer;
}

.cp-cart-head {
    font-size: 26px;
}

.cp-cart-head i {
    font-size: 30px;
    line-height: 50px;
    position: relative;
}

.cp-total {
    position: absolute;
    width: 18px;
    height: 18px;
    max-width: 18px;
    max-height: 18px;
    min-width: auto;
    min-height: auto;
    right: 8px;
    top: 10px;
    opacity: .8;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    border-radius: 9px;
    font-weight: bold;
    margin: 0;
}

.cp-cart-open {
    height: 15px;
    line-height: 15px;
    text-align: center;
    fon-size: 14px;
    display: block;
}

.cart-item-tr {
    display: table-row;
}

.cart-item-td {
    display: table-cell;
    padding: 10px 5px;
}

.cart-item-td:first-child {
    padding-left: 0;
}

.cart-item-td:last-child {
    padding-right: 0;
}

.cart-list {
    padding: 0;
    list-style: none;
    display: table;
    width: 100%;
    margin: 0;
}

.cart-item-li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.cart-item-li.ng-move,
.cart-item-li.ng-enter,
.cart-item-li.ng-leave {
    transition:all linear 0.5s;
}

.cart-item-li.ng-leave.ng-leave-active,
.cart-item-li.ng-move,
.cart-item-li.ng-enter {
    opacity:0;
    max-height:0;
}

.cart-item-li.ng-leave,
.cart-item-li.ng-move.ng-move-active,
.cart-item-li.ng-enter.ng-enter-active {
    opacity:1;
    max-height:30px;
}

.cart-inner {
    padding: 0;
}

.cp-preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
}

.text-right {
    text-align: right;
    padding: 10px 16px 20px 0;
}

.md-dialog-content {
    position: relative;
}

md-dialog-actions {
    border: none !important;
}

.cp-notify {
    position:fixed;
    top:0px;
    z-index: 9999;
    width:200px;
    text-align: center;
    border-radius: 4px;
    -webkit-transition: top 0.5s ease-out,opacity 0.2s ease-out;
    -moz-transition: top 0.5s ease-out,opacity 0.2s ease-out;
    -o-transition: top 0.5s ease-out,opacity 0.2s ease-out;
    transition: top 0.5s ease-out,opacity 0.2s ease-out;
    visibility:hidden;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    left:50%;
    margin-left: -100px;
}

.cp-notify .md-toolbar-tools p {
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .cart-item-tr {
        display: block;
        padding-top: 10px;
        border-bottom: 1px solid #eeeeee;
    }

    .cart-item-td {
        display: block;
        padding: 5px 0;
    }

    md-dialog-actions .md-button {
        display: none;
    }

    md-dialog-actions .md-button:last-child {
        display: block;
    }
}